[submodule "Ecossystem/TrackieLink"]
	path = Ecossystem/TrackieLink
	url = https://github.com/phkaiser13/TrackieLink.git
[submodule "Ecossystem/TrackieLLM"]
	path = Ecossystem/TrackieLLM
	url = https://github.com/phkaiser13/TrackieLLM.git
[submodule "Ecossystem/AssetsModels"]
	path = Ecossystem/AssetsModels
	url = https://github.com/phkaiser13/TrackieAssets.git
[submodule "Ecossystem/TrackieOS"]
	path = Ecossystem/TrackieOS
	url = https://github.com/phkaiser13/TrackieOS.git
[submodule "Ecossystem/TrackieOS"]
	path = Ecossystem/Trackie-Studio
	url = https://github.com/phkaiser13/Trackie-Studio.git
