[submodule "TrackieLink"]
	path = Ecossystem/TrackieLink
	url = https://github.com/phkaiser13/TrackieLink.git

[submodule "TrackieLLM"]
	path = Ecossystem/TrackieLLM
	url = https://github.com/phkaiser13/TrackieLLM.git

[submodule "AssetsModels"]
	path = Ecossystem/AssetsModels
	url = https://github.com/phkaiser13/TrackieAssets.git

[submodule "TrackieOS"]
	path = Ecossystem/TrackieOS
	url = https://github.com/phkaiser13/TrackieOS.git
